$white: #ffffff;
$grey: #e9e9e9;
$darkBlue05: #1d043d46;
$pink: #BE49FC;
$darkBlue: #1D043D;
$purple: #0C0032;
$lightPurple: #8277FF;
$purpleGrey: #281F46;
$green: #15FF81;
$red: #FF4D00;
$grey: #A7A7A7;
$lightPink: #F8ECFF;

:export {
  white: $white;
  grey: $grey;
  darkBlue05: $darkBlue05;
  pink: $pink;
  lightPink: $lightPink;
  darkBlue: $darkBlue;
  purple: $purple;
  lightPurple: $lightPurple;
  purpleGrey: $purpleGrey;
  green: $green;
  red: $red;
  grey: $grey;
}